<div class="container">
  <div class="d-flex justify-content-center login-page">
    
    <div class="bg-warning bg-gradient login-form-padding">
      <h4>User Login</h4>
      <p class="text-danger" *ngIf="userErrorFlag">Email or password incorrect.</p>
      <form class="" (ngSubmit)="onSubmit(data)" #data="ngForm">
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
          <input type="email" id="userEmail" class="form-control" name="LoginEmail" ngModel  placeholder="name@example.com" required email />
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
          <input type="password" id="userPassword" class="form-control" name="Password" ngModel
            placeholder="Password" required minlength="8"/>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary w-75" [disabled]="!data.valid">Sign In</button>
        </div>
      </form>
    </div>



    <div class="bg-primary text-white login-form-padding">
      <h4>Admin Login</h4>
      <p class="text-danger" *ngIf="adminErrorFlag">Email or password incorrect.</p>
      <form (submit)="adminLogin(adminData)" #adminData="ngForm">
        <div class=" mb-3">
            <label for="adminEmail" class="form-label">Email address</label>
          <input type="email" id="adminEmail" class="form-control" name="adminName" ngModel 
            placeholder="name@example.com" required email/>
        </div>
        <div class="mb-3">
            <label for="adminPassword" class="form-label">Password</label>
          <input type="password" id="adminPassword" class="form-control" name="password" ngModel
            placeholder="Password" required minlength="6"/>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-warning w-75" [disabled]="!adminData.valid">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
