<div class="container">
  <div class="w-50 pt-5">

    <h2>Add Book</h2>
    <form class="row g-3" (submit)="onAddBook(data)" #data="ngForm" >
      <div class="col-md-6">
        <label for="inputBookName4" class="form-label">Book Name</label>
        <input type="text" name="bookName" class="form-control" id="inputBookName4" ngModel>
      </div>
      <div class="col-md-6">
        <label for="inputAuthor4" class="form-label">Author Name</label>
        <input type="text" name="author" class="form-control" id="inputAuthor4" ngModel>
      </div>
      <div class="col-12">
        <label for="inputBookImg" class="form-label">Book Image Url</label>
        <input type="url" name="bookImageUrl" class="form-control" id="inputBookImg" placeholder="https//:...." ngModel>
      </div>
      <div class="col-md-2">
        <label for="inputYear" class="form-label">Publish Year</label>
        <input type="text" name="publishDate" class="form-control" id="inputYear" ngModel>
      </div>
      <div class="col-md-4">
        <label for="inputCategory" class="form-label">Category</label>
        <select id="inputCategory" name="category" class="form-select" ngModel>
          <option>Classical</option>
          <option>Horror</option>
          <option>Comedy</option>
          <option>Sci-fi</option>
          <option>Action & Adventure</option>
          <option>Romance</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputLanguage" class="form-label">Language</label>
        <select id="inputLanguage" name="langId" class="form-select" ngModel>
          <option value="1">English</option>
          <option value="5">Hindi</option>
          <option value="2">French</option>
          <option value="4">German</option>
          <option value="3">Italian</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Quantity</label>
        <input type="text" name="quantity" class="form-control" id="inputZip" ngModel>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" ngModel></textarea>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>
