<section>
  <div class="container">
    <!--! Dynamic Alert Message for edit and request -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div class="toast d-block msg align-items-center border-0" [ngClass]="{'text-bg-warning': showAlert && adminName.length!==0,'text-bg-info':showAlert && loginId.length!==0}" *ngIf="(showAlert && adminName.length!==0) ||  showAlert && loginId.length!==0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            {{showAlert && adminName.length!==0? "Book Successfully Edited" : (showAlert && loginId.length!==0?"Book Requested Successfully":"")}}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
    
    <div class="row py-5">
      <div class="col-5">
        <figure class="figure">
          <img src="{{bookData.bookImageUrl}}" class="figure-img img-fluid rounded" alt="{{bookData.bookImageUrl}}">
        </figure>

        <!--todo ADMIN BUTTONS  -->
        <div *ngIf="adminName.length!==0">
          <a class="btn btn-warning px-5 me-3" routerLink="/books/{{bookId}}/update-book">Edit</a>
          <button type="button" class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
          </button>
        </div>
        
        <!--* USER BUTTON  -->
        <div *ngIf="loginId.length!==0">
          <button class="btn btn-primary" (click)="onRequest()">Request</button>
        </div>
      </div>


      <div class="col-7 pt-5">
        <div class="p-3">
          <h1>{{bookData.bookName}}</h1>
          <h5>{{bookData.author}}</h5>
        </div>
        <div class=" py-3 ps-3">
          <span class="fs-4">Category : </span> 
          <span class="fs-4">{{bookData.category}}</span></div>
        <div class="d-flex">
          <div class="py-5 ps-3 pe-5 text-center">
            <span class="fs-5">Language : </span> 
            <span class="fs-6">{{bookData.language}}</span>
          </div>
          <div class="p-5 text-center">
            <span class="fs-5">Published Date : </span> 
            <span class="fs-6">{{bookData.publishDate}}</span></div>
          <div class="p-5 text-center">
            <span class="fs-5">{{bookData.quantity>5?"Available" : "Only {{bookData.quantity}} left in stock"}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5">
      <h3>Description</h3>
      <p>{{bookData.description}}</p>
    </div>
  </div>
</section>











<!-- Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Book?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" (click)="deleteBook()" data-bs-dismiss="modal">Delete</a>
      </div>
    </div>
  </div>
</div>