<div class="alert alert-warning alert-dismissible fade show" *ngIf="showEditedAlert && adminName.length!==0"
    role="alert">
    <div>Book Edited Successfully</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="adminName.length!==0">
    <p>{{bookId}}</p>
    <a class="btn btn-warning" routerLink="/books/{{bookId}}/update-book">Edit</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
    </button>
</div>

<div class="alert alert-primary alert-dismissible fade show" *ngIf="showEditedAlert && loginId.length!==0" role="alert">
    <div>Book Requested Successfully</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="loginId.length!==0">
    <button class="btn btn-danger" (click)="onRequest()">Request</button>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this Book?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" (click)="deleteBook()" data-bs-dismiss="modal">Delete</a>
        </div>
      </div>
    </div>
  </div>