<section class="py-5">
  <div class="container">
      <h1>Action & Adventure</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
        <ng-container *ngFor="let book of booksData">
            <app-bookitem *ngIf="book.category=='Action & Adventure'" [book]="book">
            </app-bookitem>
        </ng-container>
    </div>
    <h1>Classical</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
        <ng-container *ngFor="let book of booksData">
            <app-bookitem *ngIf="book.category=='Classical'" [book]="book">
            </app-bookitem>
        </ng-container>
        
    </div>
    <h1>Horror and Romance</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
        <ng-container *ngFor="let book of booksData">
          <app-bookitem *ngIf="book.category=='Horror' || book.category=='Romance'" [book]="book">
          </app-bookitem>
        </ng-container>
    </div>
  </div>
</section>
