<div class="container">
    <div class="w-50 pt-5">
  
      <h2>Edit Book</h2>
      <form class="row g-3" (submit)="onEditBook(editData)" #editData="ngForm" >
        <div class="col-md-6">
          <label for="inputBookName2" class="form-label">Book Name</label>
          <input type="text" name="bookName" class="form-control" id="inputBookName2" ngModel="{{bookData.bookName}}" required #book="ngModel">
          <p class="small text-danger" *ngIf="!book.valid && book.touched">Book Name Required</p>
        </div>
        <div class="col-md-6">
          <label for="inputAuthor2" class="form-label">Author Name</label>
          <input type="text" name="author" class="form-control" id="inputAuthor2" ngModel="{{bookData.author}}" required #author="ngModel">
          <p class="small text-danger" *ngIf="!author.valid && author.touched">Author Name Required</p>
        </div>
        <div class="col-12">
          <label for="inputBookImg" class="form-label">Book Image Url</label>
          <input type="url" name="bookImageUrl" class="form-control" id="inputBookImg" placeholder="https//:...." ngModel="{{bookData.bookImageUrl}}" required #url="ngModel">
          <p class="small text-danger" *ngIf="!url.valid && url.touched">Book Image Url Required</p>
        </div>
        <div class="col-md-2">
          <label for="inputYear" class="form-label">Publish Year</label>
          <input type="text" name="publishDate" class="form-control" id="inputYear" ngModel="{{bookData.publishDate}}" required #year="ngModel">
          <p class="small text-danger" *ngIf="!year.valid && year.touched">Year Required</p>
        </div>
        <div class="col-md-4">
          <label for="inputCategory" class="form-label">Category</label>
          <select id="inputCategory" name="category" class="form-select" ngModel="{{bookData.category.trim()}}" [value]="bookData.category" required #category="ngModel">
            <p class="small text-danger" *ngIf="!category.valid && category.touched">Category Required</p>
            <option value="Classical">Classical</option>
            <option value="Horror">Horror</option>
            <option value="Comedy">Comedy</option>
            <option value="Sci-fi">Sci-fi</option>
            <option value="Action & Adventure">Action & Adventure</option>
            <option value="Romance">Romance</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="inputLanguage" class="form-label">Language</label>
          <select id="inputLanguage" name="langId" class="form-select" ngModel="{{bookData.langId}}" [value]="bookData.language" required #language="ngModel">
            <p class="small text-danger" *ngIf="!language.valid && language.touched">Language Required</p>
            <option value="1">English</option>
            <option value="5">Hindi</option>
            <option value="2">French</option>
            <option value="4">German</option>
            <option value="3">Italian</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Quantity</label>
          <input type="text" name="quantity" class="form-control" id="inputZip" ngModel="{{bookData.quantity}}" required #quantity="ngModel">
          <p class="small text-danger" *ngIf="!quantity.valid && quantity.touched">Quantity Required</p>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" ngModel="{{bookData.description}}" required #description="ngModel"></textarea>
            <p class="small text-danger" *ngIf="!description.valid && description.touched">Description Required</p>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" [disabled]="!editData.valid" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
  
