<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-book">Add Book</a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav ms-auto" *ngIf="login.hasOwnProperty('loginId')">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> Welcome {{login.loginName}}
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">
              <i class="fas fa-user-circle"></i> Profile
            </a>
            <a href="#" class="dropdown-item">
              <i class="fas fa-cog"></i> Settings
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="fas fa-user-times"></i> Logout
          </a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>